@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);

#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 36px;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #ffffff;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-0 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-0 .btn {
  font-family: 'Droid Serif', serif;
}
#header4-a H1 {
  color: #000000;
}
#msg-box4-c .lead P {
  text-align: center;
}
#features1-0 P {
  text-align: center;
}
